@page
@model QACareManagement.Pages.PromotionManager.ProductList.CreateModel

@{
    ViewData["Title"] = "Create";
}

<p>
    Chương trình tích điểm : @Model.SelectedPromotionGift.Title<br />
    Sản phẩm : @Model.SelectedProduct.Name
</p>
   

<h4>Cập nhật sản phẩm kèm theo </h4>
<div>
    <a asp-page="../Edit" asp-route-Id="@Model.SelectedPromotionGift.Id">Quay về</a>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PromotionGiftProduct.ProductId" value="@Model.SelectedProduct.Id" />
            <input type="hidden" asp-for="PromotionGiftProduct.PromotionGiftId" value="@Model.SelectedPromotionGift.Id" />
            <div class="form-group">
                <label asp-for="PromotionGiftProduct.Quantity" class="control-label"></label>
                <input asp-for="PromotionGiftProduct.Quantity" class="form-control" />
                <span asp-validation-for="PromotionGiftProduct.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionGiftProduct.Price" class="control-label"></label>
                <input asp-for="PromotionGiftProduct.Price" class="form-control" />
                <span asp-validation-for="PromotionGiftProduct.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu Lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Edit" asp-route-Id="@Model.SelectedPromotionGift.Id">Quay về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
